@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lunasima:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Lunasima", sans-serif; */
  --light: #ffffff;
  --medium-light: #b1b1b1;
  --medium: #333333;
  --dark: #000000;
  max-width: 1280px;
  color: var(--dark);
}

body {
  background-color: var(--light);
}

header {
  background-color: var(--medium);
  width: 100%;
  padding: 25px 25px 5px 25px;
  align-items: flex-end;
  justify-content: space-between;
  height: 150px;
  margin-bottom: 20px;
}

nav {
  gap: 25px;
}

button {
  font-family: "Josefin Sans", sans-serif;
  color: var(--light);
  font-size: 36px;
  background-color: var(--medium);
  border: none;
  outline: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 400px;
  height: 100px;
  border: 2px var(--medium) solid;
}

.wide-btn {
  height: 80px;
  width: 800px;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

button:hover {
  background-color: var(--medium-light);
  color: var(--dark);
}

button:active,
.selected-btn {
  background-color: var(--light);
  color: var(--dark);
}

main {
  padding: 50px 150px;
  line-height: 1;
}

a {
  text-decoration: none;
  color: var(--light);
}
a:hover {
  color: var(--dark);
  background-color: var(--light);
}

ul {
  text-align: left;
}

li {
  margin: 40px 0;
}

.large-text,
h1 {
  font-size: 64px;
}

.medium-text,
h2 {
  font-size: 44px;
}

.regular-text,
h3 {
  font-size: 36px;
}
h3 {
  font-weight: bold;
  display: inline;
}
.light-text {
  color: var(--light);
}

.dark-text {
  color: var(--dark);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.lower {
  margin-bottom: -5px;
}
